<nav class="navbar navbar-expand-lg navbar-light bg-light menu">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="isShown = !isShown" [attr.aria-expanded]="isShown" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto items">
      <li class="nav-item">
        <a class="nav-link" routerLink="/paddle/home">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="isAdmin()" class="nav-item">
        <a class="nav-link" routerLink="/paddle/paddle-courts">PADDLE COURTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paddle/leagues">LEAGUES</a>
      </li>
      <li *ngIf="isPlayer()" class="nav-item">
        <a class="nav-link" routerLink="/paddle/couples">COUPLES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paddle/bookings">BOOKINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paddle/booking-paddle-court">BOOK A PADDLE COURT</a>
      </li>
    </ul>
    <div *ngIf="isAuthenticated()">
      <img class="profile_image cursor_pointer mr-1" [src]="this.authService.getImage()" (click)="openProfile()" alt="profileImage" />
      <span>{{getUsername()}}</span>
      <mat-icon class="ml-1 center cursor_pointer" (click)="logout()">exit_to_app</mat-icon>
    </div>
  </div>
</nav>

<div class="container mt-5 pb-5">
  <router-outlet></router-outlet>
</div>
