<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="isShown = !isShown" [attr.aria-expanded]="isShown" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/paddle">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paddle/bookings">BOOKINGS</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
