<h3 mat-dialog-title>Login</h3>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email" type="text" id="input_email"/>
  </mat-form-field>

  <div *ngIf="getFormControl.email.touched && getFormControl.email.invalid"
       class="alert alert-danger">
    <small *ngIf="getFormControl.email.errors?.required">
      Email is required.
    </small>
    <small *ngIf="getFormControl.email.errors?.email">
      Email must be an email.
    </small>
  </div>

  <br/>
  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password" type="password" id="input_password"/>
  </mat-form-field>

  <div *ngIf="getFormControl.password.touched && getFormControl.password.invalid"
       class="alert alert-danger">
    <small *ngIf="getFormControl.password.errors?.required">
      Password is required.
    </small>
    <small *ngIf="getFormControl.password.errors?.minlength">
      Password must be at least 5 characters long.
    </small>
    <small *ngIf="getFormControl.password.errors?.maxlength">
      Password must have a maximum of 14 characters long.
    </small>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="login()" mat-button>Submit</button>
</mat-dialog-actions>
