<p class="mt-3 titles background">{{paddleCourtAvailabilityDto.name}}</p>
<table mat-table [dataSource]="timesAvailability" class="mat-elevation-z8" aria-describedby="PaddleCourt table">
  <ng-container matColumnDef="initialHour">
    <th scope="col" class="header" mat-header-cell *matHeaderCellDef>INITIAL HOUR</th>
    <td mat-cell class="enabled numbers" [class.disabled]="!element.availability" *matCellDef="let element">{{element.initialHour}}</td>
  </ng-container>

  <ng-container matColumnDef="endHour">
    <th scope="col" class="header" mat-header-cell *matHeaderCellDef>END HOUR</th>
    <td mat-cell class="enabled numbers" [class.disabled]="!element.availability" *matCellDef="let element">{{element.endHour}}</td>
  </ng-container>

  <ng-container matColumnDef="book">
    <th scope="col" class="header" mat-header-cell *matHeaderCellDef> - </th>
    <td mat-cell class="enabled numbers" [class.disabled]="!element.availability" *matCellDef="let element">
      <button mat-raised-button [disabled]="!element.availability" color="primary" type="button" (click)="book(element)">BOOK</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


