<p class="titles">COUPLES</p>
<div class="text-center row mt-3">
  <div class="mt-2" *ngFor="let couple of couples">
    <mat-card class="leaf">
      <mat-card-content>
        <div class="row pt-2">
          <div class="col-6">
            <img class="profile_image" [src]="couple.captainImage" alt="profileImage" />
            <p>{{couple.captainEmail}}</p>
            <p>{{couple.captainName}}</p>
          </div>
          <div class="col-6">
            <img class="profile_image" [src]="couple.playerImage" alt="profileImage" />
            <p>{{couple.playerEmail}}</p>
            <p>{{couple.playerName}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">CANCEL</button>
</mat-dialog-actions>
