@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Raleway';
  src: url("assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

*{
  font-family: "Raleway", "Century Gothic", "SansSerif", Roboto, serif;
}

html, body {
  height: 100%;
}

body{
  background-image: url('assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

table{
  width: 100%;
}

.submit_button{
  background: linear-gradient(to left, #C3DC19, #07d3dd);
}

.cancel_button{
  background-color: #2d2929;
  color:white;
}

.cursor_pointer{
  cursor: pointer;
}

.header{
  font-size: 1.2em;
  color: white;
  background-color: #2d2929;
}

.font_size_higher{
  font-size: 1.1em;
}


.titles{
  font-size: 1.4em;
}

.disabled{
  background-color: darkred!important;
}

.enabled{
  background-color: forestgreen;
  color:white;
}
