@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  background-image: url('assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
