@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  background-image: url('assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.submit_button{
  background: linear-gradient(to left, #C3DC19, #07d3dd);
}

.cancel_button{
  background-color: #2d2929;
  color:white;
}

.cursor_pointer{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
