<div class="d-flex justify-content-center">

  <form [formGroup]="form" class="form">
    <p class="titles mb-4">LOG IN TO YOUR ACCOUNT</p>
    <label for="login_email">Email</label>
    <br/>
    <input formControlName="email" class="input" type="text" id="login_email">
    <div *ngIf="getFormControl.email.touched && getFormControl.email.invalid" class="alert alert-danger">
      <small id="required_error" *ngIf="getFormControl.email.errors?.required">
        Email is required.
      </small>
      <small class="email_error" *ngIf="getFormControl.email.errors?.email">
        Email must be an email.
      </small>
    </div>
    <br/><br/>

    <label for="login_password">Password</label>
    <br/>
    <input formControlName="password" class="input" type="password" id="login_password"/>
    <div *ngIf="getFormControl.password.touched && getFormControl.password.invalid"
         class="alert alert-danger">
      <small *ngIf="getFormControl.password.errors?.required">
        Password is required.
      </small>
      <small *ngIf="getFormControl.password.errors?.minlength">
        Password must be at least 5 characters long.
      </small>
      <small *ngIf="getFormControl.password.errors?.maxlength">
        Password must have a maximum of 14 characters long.
      </small>
    </div>
    <br/>
    <br/>
    <div class="text-center">
      <button mat-raised-button class="submit_button button_login" [disabled]="!form.valid" (click)="login()">SUBMIT</button>
      <hr>
      <button mat-raised-button class="cancel_button button_register" (click)="register()">REGISTER</button>
    </div>
  </form>

</div>

