.form{
  margin-top: 6%;
  border: 1pt solid black;
  background-color: white;
  border-radius: 10px;
  padding: 4%;
}

.submit_button{
  background: linear-gradient(to right, #5c80bc, #70a9a1);
  color:white!important;
}

.input{
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent!important;
  width: 100%;
}

.button_register{
  width: 55%!important;
}

.button_login{
  width: 100%!important;
}
