<p class="titles">PENDING COUPLE REQUESTS</p>
<mat-dialog-content class="mt-4">
  <div *ngFor="let couple of couples">
    <div class="row">
      <div class="col-9">
        <p>{{couple.captainName}}</p>
      </div>
      <div class="col-3">
        <mat-icon (click)="accept(couple)" class="cursor_pointer titles">check_circle_outline</mat-icon>
        <mat-icon (click)="decline(couple)" class="cursor_pointer titles">highlight_off</mat-icon>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="secondary_button">CANCEL</button>
</mat-dialog-actions>
